$dark: #101010;
$text: #ededed;
$primary: #ff5252;
$secondary: #ff793f;

$spaceSm: 10px;
$spaceMd: 15px;
$space: 20px;
$spaceLg: 25px;
$spaceXl: 30px;

$fontSm: 12px;
$fontMd: 14px;
$font: 16px;
$fontLg: 24px;
$fontXl: 36px;

$radiusMin: 5px;
$radiusMax: 15px;
