$dark: #101010;
$text: #ededed;
$primary: #ff5252;
$secondary: #ff793f;

$spaceSm: 1rem;
$spaceMd: 1.5rem;
$space: 2rem;
$spaceLg: 2.5rem;
$spaceXl: 3rem;

$fontSm: 1.2rem;
$fontMd: 1.4rem;
$font: 1.6rem;
$fontLg: 2.4rem;
$fontXl: 3.6rem;

$radiusMin: 0.5rem;
$radiusMax: 1.5rem;
